body{
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
    .wrapper h1{
    font-size: 40px;
    font-family: 'Allura' , cursive;
	margin: 20px;
	}
	.wrapper h2{
    font-size: 20px;
    font-family: 'Allura' , cursive;
	margin: 20px;
     }
	 *{
	margin: 0;
	padding: 0;
}